.contact-count {
    position: relative;

    img {
        width: 100%;
        height: 95vh;
        background-size: cover;
        filter: brightness(0.3);
    }

    h1 {
        font-size: 38px;
        position: absolute;
        bottom: 360px;
        left: 680px;
        color: white;
    }

}